<!-- SECTION 3: project -->
<section id="projects" class="project-grid-section">
    <h2>Projects</h2>

    <div class="grid-container">
        {% for item in site.projects %}
            {% unless item.published == false %}
                <a href="{{ item.url | relative_url }}" class="project-link" aria-label="Read more about {{ item.title }}">
                    <div class="project-card">
                        {% assign folder_path = item.path | split: "/" | slice: 0, 2 | join: "/" %}
                        {% assign image_path = "/" | append: folder_path | append: item['main-image'] %}
                        <img src="{{ image_path | relative_url }}" alt="{{ item.title }} image">
                        <h3 class="project-title">{{ item.title }}</h3>
                        <div class="project-skills">
                            {% for skill in item.skills %}
                                <span class="skill">{{ skill }}</span>
                            {% endfor %}
                        </div>
                        <p class="project-description">{{ item.description }}</p>
                        <span class="read-more">Read more -></span>
                    </div>
                </a>
            {% endunless %}
        {% endfor %}
    </div>
</section>
